table{
    margin-left: auto;
    margin-right: auto;
}

td {
    position:relative;
    text-align: center;
}

th {
    position:relative;
    text-align: center;
}

/* NAVBAR */
.navbar-nav a{
	color: #f4f4f4;
}
p a{
	text-decoration: none;
}
.navbar{
	background:darkslateblue;
}
.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4 !important;
	color: white !important;
}
.navbar-collapse{
	justify-content: flex-end;
}
.navbar-toggler{
	background:#fff !important;
}